<!doctype HTML>
<html>
  <head>
    <title>ScratchAds</title>
    <%- await include("./ejs/components/head.ejs") %>
  </head>
  <body>
    <%- await include("./ejs/components/header.ejs") %>
    <div class="mx-10">
      <h1 class="text-2xl">ScratchAds</h1>
      <p>ScratchAdsは、Scratchのプロジェクトの広告サービスです。</p>
      <p><a href="https://scratch.mit.edu/studios/33315608/">このスタジオ</a>に作品を入れることで、広告が表示されます！</p>
    </div>
  </body>
</html>
