<!doctype HTML>
<html>
  <head>
    <title>ScratchAds</title>
    <%- await include("./components/head.ejs") %>
  </head>
  <body>
    <h1>ScratchAds</h1>
    <p>ScratchAdsは、Scratchのプロジェクトの広告サービスです。</p>
    <p><a href="https://scratch.mit.edu/studios/33315608/">このスタジオ</a>に作品を入れることで、広告が表示されます！</p>
  </body>
</html>
