<header>
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <a class="btn btn-ghost normal-case text-xl" href="/">ScratchAds</a>
    </div>
    <div class="navbar-end">
      <a href="/add_your_site" class="btn btn-ghost normal-case text-xl">広告を掲載する</a>
    </div>
  </div>
</header>
<style>
.header{
  display: flex;
}
</style>
